<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Game Mart</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>If you need help... you are out of luck. Sorry.</p>
  </body>
</html>
