<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Game Mart</title>
  </head>
  <body>
    <h1>Game Mart</h1>
    <p>Welcome to Game Mart. Your one-stop site to games.</p>
  </body>
</html>
